@keyframes sweepLight {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.bg-aniamtion {
  background-image: linear-gradient(90deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.05) 100%);
  background-size: 200px 100%;
  animation: sweepLight 1.5s ease-in-out;
}
