@keyframes clarityReveal {
  0% {
    filter: blur(2px) brightness(0.9);
    opacity: 0;
  }
  100% {
    filter: blur(0) brightness(1);
    opacity: 1;
  }
}

.bg-aniamtion {
  animation: clarityReveal 0.4s ease-out;
}
