.bg-animation::before {
content: "";
animation-name: pageAnime;
background: #29FE00;
position: fixed;
z-index: 3;
top: 0;
left: 0;
width: 100%;
height: 100vh;
animation-duration: 1s;
animation-delay: 0;
animation-timing-function: ease-in-out;
animation-fill-mode: forwards;
pointer-events: none;
}

@keyframes pageAnime {
0% {
transform-origin: top;
transform: scaleY(0);
}

30% {
transform-origin: top;
transform: scaleY(1);
}

70% {
transform-origin: bottom;
transform: scaleY(1);
}

100% {
transform-origin: bottom;
transform: scaleY(0);
}
}
